.parallax-card {
  margin: 20px;
  border-radius: 20px;
  transform-style: preserve-3d;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  min-width: 350px;
  height: 200px;
  cursor: pointer;
}
.parallax-card .parallax-card-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  transition: all 0.2s ease-out;
}
.parallax-card .parallax-card-shadow {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
  transition: all 0.2s ease-out;
  box-shadow: 0 8px 30px rgba(14, 21, 47, 0.6);
  z-index: 0;
}
.parallax-card .parallax-card-layers {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  transform-style: preserve-3d;
  z-index: 2;
}
.parallax-card .parallax-card-rendered-layer {
  position: absolute;
  width: 104%;
  height: 104%;
  top: -2%;
  left: -2%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  background-size: cover;
  transition: all 0.1s ease-out;
  z-index: 4;
}
.parallax-card .parallax-card-shine {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 60%
  );
  z-index: 8;
}
.parallax-card:hover {
  z-index: 9;
}
.parallax-card:hover .parallax-card-shadow {
  box-shadow: 0 45px 100px rgba(14, 21, 47, 0.4),
    0 16px 40px rgba(14, 21, 47, 0.4);
}
